@charset "UTF-8";
html{
   overflow: auto;
    background: linear-gradient(rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.1)), url(images/FondA.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    
}
html::-webkit-scrollbar {
    width: 15px;
}
html::-webkit-scrollbar-corner {
    background: -webkit-radial-gradient(rgb(166,95,13),#07A84D);
    border-top: 1px rgba(205, 205, 205, 1) solid;
    border-left: 1px rgba(205, 205, 205, 1) solid;
}
html::-webkit-scrollbar-thumb {
            background: -webkit-radial-gradient(#07A84D,rgb(166,95,13));
}
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}
html::-webkit-scrollbar-track-piece {
    background: rgba(166,95,13,0.7);
}
body
{
margin:0;
padding:0;
background: rgba(0,0,0,0.1)!important;
}
.navbar
{
width:100%;  
background-color: rgba(0, 0, 0,0) !important;
border: 1px solid transparent !important;
margin-right:auto;
margin-left:auto;
border:0px;
}
#DivG
{
min-width:1300px;
max-height:610px;
width:89%;
margin: 20px auto 20px;
border-radius:5px;
}
#aOnglet
{
text-decoration:none;
color:white;
}
#buttonLi
{
background-color:#07A84D;
width:200px;
height:50px;
margin:2px;
border-radius:5px;
}
#liOnglet
{
width:200px;
font-weight : bold;
background-color: rgba(0, 0, 0, 0.2);
border-style:outset;
padding-top:7px;
text-align:center;
border:solid #A65F0D 3px;
margin-top:10px;
list-style-type:none;
min-height:40px;
padding-bottom: 7px;
font-family:"Open Sans",lithos, sans-serif;
}
.input-inscrip
{
	float:right;
	height:15px;
	width:250px;
	border-radius:0px;
        line-height: initial;
        color: #ccc;
}
#Page
{
	width:101%;
	height:79%;
    overflow:auto;
}
#Page::-webkit-scrollbar {
    width: 0.8em;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
  
#Page::-webkit-scrollbar-thumb {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
	width: 1em;
}
.btnRetour{
	width: 70px;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
	background-color:white;
}
.label-inscrip{
	font-size: 17px;
 	padding-top: 3px;
	font-family:'Open Sans',lithos, sans-serif;
	display:block;
	margin-right:0;
	width:50%;
	float:left;
	height:25px;
	font-weight:bolder;
            line-height: initial;
}
.inscrip
{
    width:99%;
    height:auto;
    border-radius: 5px;
}
#Footer
{
width:90%;
min-width:1200px;
margin:40px auto 0px;
color: white;
padding:5px;
background-image: url("images/footer.png");
background-repeat: no-repeat;
background-position: top; 
}
#Divafooter
{
padding-top:10px;
margin-top:5px;
font-size:16px;
text-decoration:none;
color:white;
border-left: 1px solid white;
margin: 0 10px 0 0;
padding: 0 0 0 10px;
font-weight: 600;
}
#Divafooter:hover
{
color:#000;
padding: 0 0 0 10px;
}

#h3
{
margin-left:auto;
margin-right:auto;
margin-bottom:40px;
color:white;
width:80%;
font-family:"Open Sans",lithos, sans-serif;
}
#td{
height:30px;
padding:5px;
background-color:rgba(255,255,255,0.3);
color:white;
font-family:Open Sans,minion pro, sans-serif;
}

#pNews
{
color:white;
font-family:Open Sans,minion pro, sans-serif;
width:100%;
background-color: rgba(0, 0, 0, 0.4);
margin-left:auto;
margin-right:auto;
margin-top:2px;
margin-bottom: 1px;
}
#pG
{
font-family: "Open Sans",minion pro, sans-serif;
color:white;
line-height:25px;
font-size:16px;
font-weight: normal;
}
#pGp
{
    background-color: rgba(9, 119, 0, 0.5);
    border: 1.5px solid;
    width: 300px;
    text-align: center;
    text-decoration:none;
    font-family: "Open Sans",minion pro, sans-serif;
    color: white;
    line-height: 25px;
    font-size: 16px;
    font-weight: normal;
}
#pGp:hover
{
    background-color: rgba(255, 126, 0, 0.8);
    border: 1.5px solid;
    width: 300px;
    text-align: center;
    text-decoration:none;
    font-family: "Open Sans",minion pro, sans-serif;
    color: white;
    line-height: 25px;
    font-size: 16px;
    font-weight: normal;
}
#pGdec
{
    background-color: rgba(9, 119, 0, 0.5);
    border: 1.5px solid;
    width: 300px;
    text-align: center;
    text-decoration:none;
    font-family: "Open Sans",minion pro, sans-serif;
    color: white;
    line-height: 25px;
    font-size: 16px;
    font-weight: normal;
}
#pGdec:hover
{
    background-color: rgba(255, 0, 0, 0.5);
    border: 1.5px solid;
    width: 300px;
    text-align: center;
    text-decoration:none;
    font-family: "Open Sans",minion pro, sans-serif;
    color: white;
    line-height: 25px;
    font-size: 16px;
    font-weight: normal;
}
#spanNav
{
margin-left: 9px;
}
#Multimedia
{
background-color: rgb(166,95,13);
}

#NewArticle
{
width: 100%;
height:180px;
overflow:overlay;
}
#NewArticle::-webkit-scrollbar {
    width: 0.5em;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
#NewArticle::-webkit-scrollbar-thumb {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
	width: 1em;
}
.block-acc-login
 {
font-family:"Open Sans",lithos, sans-serif;
background-color: #E6E6E6;
box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
font-size:15px;
color:black;
width: 50%;
height: 47%;
border-radius: 5px;
padding: 10px 20px 20px 20px;
float:left;
text-decoration:none;
margin-left:1%;
margin-top:80px;
}
.block-acc-register
{
color:black;
font-family:"Open Sans",lithos, sans-serif;
background-color: #E6E6E6;
box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
font-size:15px;
width: 47%;
text-decoration:none;
height: auto;
border-radius: 5px;
padding: 10px 20px 20px 20px;
float:right;
margin-right:1%;
margin-top:80px;
}
form{
min-height:30%;
}
select{
min-width:250px;
}
.Newmdp
{
font-size:15px;
font-family:"Open Sans",lithos, sans-serif;
background-color: #E6E6E6;
text-decoration:none;
box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
width: 70%;
height:250px;
border-radius: 5px;
padding: 10px 20px 20px 20px;
margin-right:auto;
margin-left:auto;
margin-top:150px;
}
.pluginConnectButton
{
margin-top:10px;
}
#btnadmin
{
color:black;
}
#tdcontenu
{
font-family:"Open Sans",lithos, sans-serif;
color:white;
border-radius:5px;
width:64%;
max-height:610px;
height:610px;
padding-left:20px;
padding-right:20px;
background-color: rgba(0, 0, 0, 0.3);
}
#btnFb
{
width:100%;
height: 50px;
padding-top: 20px;
padding:5%;
color:white;
}
#aSoutien
{
text-decoration:none;
color: #000;
font-size:10px;
text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
#soutienDoc
{
  font-family: "Open Sans",minion pro, sans-serif;
  font-size: 1.8em;
  height: 42px;
  width: 155px;
  float: left;
  margin-right: 0px;
  padding-top: 1px;
  text-align: center;
  border-radius: 0px;
  margin-left: 30%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5),0 -1px 0 rgba(255,255,255,0.4);
  color: #000;
  background: linear-gradient(#A65F0D,#07A84D);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}

#soutienDoc:hover
{
  font-family: "Open Sans",minion pro, sans-serif;
  font-size: 1.8em;
  padding-top: 1px;
  text-align: center;
  border-radius: 0px;
  height: 42px;
  float: left;
  width: 155px;
  margin-right: 0px;
  margin-left: 30%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5),0 -1px 0 rgba(255,255,255,0.4);
  color: #000;
  background: linear-gradient(#07A84D,#A65F0D);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  
}


#soutienPdf
{
  font-family: "Open Sans",minion pro, sans-serif;
  font-size: 1.8em;
  padding-top: 1px;
  text-align: center;
  border-radius: 0px;
  height: 42px;
  width: 155px;
  float: right;
  margin-right: 30%;
  margin-left: 0px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5),0 -1px 0 rgba(255,255,255,0.4);
  color: #000;
  background: linear-gradient(#07A84D,#A65F0D);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}

#soutienPdf:hover
{
font-family: "Open Sans",minion pro, sans-serif;
  font-size: 1.8em;
  padding-top: 1px;
  float: right;
  text-align: center;
  border-radius: 0px;
  height: 42px;
  width: 155px;
  margin-right: 30%;
  margin-left: 0px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5),0 -1px 0 rgba(255,255,255,0.4);
  color: #000;
  background: linear-gradient(#A65F0D,#07A84D);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}

.a_New_Nav{
    color:#fff !important;
}

.a_New_Nav:hover{
    color:#000 !important;
}